#CheckoutBtn{
    -fx-cursor: hand;
    -fx-transition: -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

#CheckoutBtn:hover{
    -fx-cursor: hand;
    -fx-border-color: #000;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BackBtn{
    -fx-text-fill: #353550;
    -fx-background-color: #F6F8FF;
}

#BackBtn:hover{
    -fx-cursor: hand;
    -fx-background-color: #000;
    -fx-text-fill: #fff;
}