#CheckoutBtn{
    -fx-cursor: hand;
    -fx-transition: -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

#CheckoutBtn:hover{
    -fx-cursor: hand;
    -fx-border-color: #000;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BackBtn{
    -fx-text-fill: #353550;
    -fx-transition: -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

#BackBtn:hover{
    -fx-cursor: hand;
    -fx-text-fill: #353550;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.radio-button .radio {
    -fx-border-color: #6279FF;
    -fx-border-radius:90;
    -fx-background-color:white;
    -fx-border-width:2;
    -fx-mark-color:#6279FF;
}

#EDITBTN{
    -fx-cursor: hand;
    -fx-transition: -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}

#EDITBTN:hover{
    -fx-cursor: hand;
    -fx-border-color: #000;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}