.table{
    -fx-padding: -2;
}

.table .column-header-background{
    -fx-background-color:  #6279FF;
    -fx-background-insets: 0 0 0 0;
}

.table .column-header, .table .filler{
    -fx-background-color: transparent;
}

.table .column-header .label{
    -fx-text-fill: white;
}
